.fade-in{
    opacity:0;
    transform: translateY(-50%);
    transition: all 1000ms ease-in; 
    -webkit-transition: all 1000ms ease-in; 
}
.fade-in.left-in{
    transform: translateX(-50%);
}
.fade-in.right-in{
    transform: translateX(50%);
}

.fade-in.visible{
    opacity:1;
    transform: translate(0,0)!important;
}

/**
****** Header ******
*/

#ieeecsks_title{
    color:white;
    text-align:center;
    font-size: 16px;
    line-height: 1.6;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    letter-spacing:4px;
    display:block;
    margin-top:50px;
}


@-webkit-keyframes scroll-inner {
    0% {margin-top: 20%;opacity:0;}
    40%{opacity:1;}
    80% {margin-top: 55%;opacity:0;}
    100% {margin-top: 55%;opacity:0;}
}
@keyframes scroll-inner {
    0% {margin-top: 20%;opacity:0;}
    40%{opacity:1;}
    80% {margin-top: 55%;opacity:0;}
    100% {margin-top: 55%;opacity:0;}
}


/* Scroll Down Mouse  */
div.mouse-container{
    display:block;
}
    div.mouse{
    margin:30px auto;
    display:block;
    width:30px;
    height:50px;
    border: solid 2px #fff;
    border-radius: 25px;
    }
        div.mouse span.scroll-down{
            display:block;
            width:8px;
            height:8px;
            background:#fff;
            border-radius:50%;
            margin:20% auto auto auto;
            -webkit-animation: scroll-inner 1.7s; 
            animation: scroll-inner 1.7s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function:ease-in-out;
            animation-timing-function:ease-in-out;
        }



@media (max-width:768px) {
    #akcssc-poster:before {
        margin-top: 40%!important;
    }
    div.mouse{
        margin-bottom:5px!important;
    }
}





/**
****** Venue & Date ******
*/

.date-venue-row{
    margin-top: -50px;
}

#akcssc-date-venue .icon:before{
    font-family: akcssc_icons;
    font-style: normal;
    font-weight: 400;
    display: inline;
    text-decoration: inherit;
    text-align: center;
    font-size:35px;
    margin-right:0;
    font-variant: normal;
    text-transform: none;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.akcssc-date{
    color:white;
    text-align:center;
    font-size: 22px;
    line-height: 1.6;
    font-family: Oswald, sans-serif;
    font-weight: 200;
    letter-spacing:2px;
    display:inline-block;
    width:50%;
    float:left;
}
    .akcssc-date .icon.icon-calender:before{    
        content: "\E808";
    }

.akcssc-venue{
    display:inline-block;
    width:50%;
    float:left;
    color:white;
    padding-top: 100px;
    text-align:center;
}
    .akcssc-venue #venue-sjcet{    
        width:260px;
    }
    .akcssc-venue .icon.icon-venue:before{    
        content: "\E80D";
    }

@media (max-width:768px) {
    
    #akcssc-date-venue .icon:before{
        font-size: 30px;
    }

    .akcssc-date,.akcssc-venue{
        width: 100%;
        padding: 10px 0;
        font-size:18px;
    }
    
    .akcssc-venue #venue-sjcet{    
        width:200px;
    }
    #date-venue{
        margin-left:0!important;
        margin-right:0!important;
    }
    .date-venue-row{
        margin-top: 50px;
    }

}

@media (min-width: 1199.98px){
    #navigation-level-1{
        float:right;
        margin-right:50px;
    }
}


/**
******* Speakers ******
*/
#homepage #speakers article>div a {
    cursor:auto;
}
.figure-details{
    font-family: Oswald, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    display: block;
    letter-spacing: 0.28px;
    width: auto;
    z-index: 45;
    transform: translateY(-100px);
    float: right;
    max-width: 65%;
    margin-right: 20%;
    float: right;
    color: #232323;
    padding: 5px 12px;
    border-radius: 30px;
    background: #EAEAEA;
}


@media (max-width:575.98px) {
    .figure-details{
        padding: 5px 18px;
        max-width: 60%;
        transform: translateY(-80px);
        margin-right: 0;
        background: #EAEAEA;
        font-size:12px;
    }
}

@media (min-width:575.98px) {
    #homepage #speakers article>div a {
        margin-top: 20%;
    }
    #homepage #speakers article>div:nth-child(1) a:nth-of-type(1),
    #homepage #speakers article>div:nth-child(2) a:nth-of-type(2),
    #homepage #speakers article>div:nth-child(2) a:nth-of-type(1) {
        margin-top: 0;
    }    
    #homepage #speakers article>div:nth-child(1) a:nth-of-type(2) {
        margin-top: 75%;
    }    
}



/**
****** Intro Section ******
*/

#intro{
    margin: 40px auto 100px;
    text-align: center;
    padding: 0 30px;
}
    #intro h1{
        margin: 0!important;
    }
    
    #intro p{
        margin: 30px 0!important;
    }
    
@media (min-width:720px) {
    #intro{
        width: 85%;
        margin:0 auto 120px;
    }
}

@media (min-width:1200px) {    
    #intro{
        width: 75%;
    }
}



/**
****** Programs Section ******
*/

#programs > div{
    margin: 0 auto 150px;
    padding: 0 5px;
}
    #programs .day-box{
        transform: translateY(90%);
        color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        background: #fff;
        padding: 10px;
        height: 60px;
        width: 60px;
        border: 4px solid #000;
        box-shadow: 7px 7px 0 #FF5555;
        font-size: 15px;
        line-height: 1;
        font-weight: 700;
    }
    #programs .programs-column{
        padding: 5px 0 0 80px;
        display: block;
    }
    
    #programs .programs-column h2{
        margin:0 0 20px;
        padding: 0;
    }
    #programs .programs-column ul{
        margin:0;
        padding-left:0;
        padding-right: 15px;
        list-style: none;
        font-size:15px;
        line-height:1.5;
        
    }
        #programs .programs-column ul li{
            margin:12px 0 22px;
            color:#AAAAAA;
        }        
        #programs .programs-column ul li .program-title{
            display: block;
            font-weight: bold;
            text-transform: uppercase;
            color:black;
            margin-bottom:6px;
        }
    #programs .programs-track{
        width: 100%;
        margin-bottom:60px;
    }
@media (min-width:720px) {
    #programs > div{
        width: 90%;
    }
    #programs .day-box{
        padding: 15px;
        height: 100px;
        width: 100px;
        border: 5px solid #000;
        box-shadow: 10px 10px 0 #FF5555;
        font-size: 25px;
    }
    #programs .programs-column{
        padding: 20px 0 0 160px;
    }
}


@media (min-width:1200px) {    
    #programs > div{
        width: 80%;
    }
    
    #programs .programs-column{
        padding: 20px 0 0 160px;
        display: flex;
        flex-direction: row;
        align-content:stretch;
    }
    #programs .programs-track{
        width: 47%;
        margin-right: 3%;
        margin-bottom:0;
    }
    #programs .programs-track.full-track{
        width: 75%;
    }
}


#programs .stay-tuned{
color: #333333;
display: block;
font-family: Oswald, sans-serif;
font-size: 2.8rem;
font-weight: 200;
text-align: center;
transform: translateY(-20%);
}

/**
****** About ******
*/

#about h2{
    margin:0 0 20px 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-size:36px;
    line-height:1.1;
}


@media (max-width:720px) {
    #about h2{
        font-size:28px;
    }
}

/**
****** Sponsors *****
*/
#sponsors{
    margin-top:60px;
    margin-bottom:60px;
}
#partner-logos div{
    text-align: center;
}

#partner .partner-logo>a {
    justify-content: center;
}
#partner .partner-logo>div {
    margin: 5px 0 20px;
    color: #777777;
    font-size:13px;
}

/**
****** Contact ******
*/


#contact div{
    font-size:16px;
    line-height: 1.6;
}

#contact-box{
    display:flex;
    flex-direction: row;
    width:100%;
    margin:60px 0 30px;
    flex-flow: row wrap;
}

#contact-box > div{
    margin:0 20px;
    flex:1;
}

#contact-box > div b{
    display: inline-block;
    min-width: 160px;
    margin-bottom:4px;
    padding: 0 12px 4px;
    border-bottom:1px solid #EEEEEE;
    font-size: 18px;
}

#contact-box > div .contact-title{
    opacity:0.8;
    font-size:15px;
}


@media (max-width:720px) {
    #contact-box > div{
        margin:20px 0;
        flex:1 100%;
        width:100%;
    }
    #contact{
        margin-top: 100px;
    }
    
    #contact-box{
        margin:20px 0 30px;
    }
    #contact-box > div b{
        font-size: 20px;
    }
}
/* Footer */

footer .register-now{
    border: 2px solid #FFFFFF;
    padding: 10px 14px;
    font-size:1.1em!important;
    text-align:center;
    display: block;
}



@media (max-width:720px) {
    footer #footer-container #footer-row nav ul:nth-child(2){
        margin-left: 30px;
    }
}



/* Button */



.line-effect.rg10.btn-bg,
.line-effect.rg10 .btn-bg,
.line-effect.rg10:after,
.line-effect.rg10:before,
.line-effect.rg10 span:after,
.line-effect.rg10 span:before {
	background-color: #FF5A55
}

.line-effect.rg10 span.label {
	color: #FF5A55
}

.line-effect.rg10 span.label>div span {
	background-color: #FF5A55;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 2px;
	position: relative
}

.line-effect.rg10 span.label>div span:first-child {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 2px
}

.line-effect.rg10 span.label>div span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0
}

@media (min-width:1025px) {
	.line-effect.rg10:hover {
		text-decoration: none
	}
	.line-effect.rg10:hover span.label {
		color: #fff
	}
}



.register-button span{
    display: block!important;
    text-align: center;
    font-size: 12px;
    opacity: 0.9;
    line-height: 1.4;
    color:inherit!important;
}

.reg_not_open:before{
    margin-top: -15px!important;
}